---
import { Image } from "astro:assets";
import type { CollectionEntry } from "astro:content";
import readingTime from "reading-time";

import Date from "@/components/Date.astro";
import Tags from "@/components/Tags.astro";

type Props = {
  post: CollectionEntry<"blog">;
};
const { post } = Astro.props;
---

<a href={`/blog/${post.slug}/`}>
  <article class="flex h-full flex-col rounded-lg bg-base shadow">
    <Image src={post.data.cover} alt={post.data.title} />
    <div class="flex h-full flex-col gap-4 p-4">
      <h2 class="mb-auto line-clamp-2 text-xl font-bold">
        {post.data.title}
      </h2>
      <div class="line-clamp-3 text-subtext0">
        {post.data.description}
      </div>
      <Tags tags={post.data.tags} />
      <div class="flex justify-between text-sm text-subtext0">
        <Date date={post.data.pubDate} />
        <span>{readingTime(post.body).text}</span>
      </div>
    </div>
  </article>
</a>
